<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
@{
    Layout = "~/Themes/AdminTheme/Layouts/layout_main.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Items
            <small>Edit Category</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Admin Panel</a></li>
            <li class="active">Category</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-9">
                <!-- general form elements -->
                <div class="box box-primary">                   
      
                    <!-- form start -->
                    <form role="form" action="~/admin/categories/edit" method="post">
                        <div class="box-body">
                            
                            <input type="hidden" class="form-control" name="CategoryId" id="CategoryId" value=@ViewBag.cat.CategoryId>
                            <input type="hidden" class="form-control" name="Category_LanguageId" id="Category_LanguageId" value=@ViewBag.cat.Id>
                            <input type="hidden" class="form-control" name="LanguageId" id="LanguageId" value=@ViewBag.cat.LanguageId>

                                <div class="form-group">
                                    <label for="Description">Description</label>
                                    <input type="text" class="form-control" name="Description" id="Description" value=@ViewBag.cat.Description>
                                </div>
                         </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                
            </div>
            <!--/.col (left) -->
           
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>