@{
    Layout = "~/Themes/AdminTheme/Layouts/layout_main.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Categories
            <small><a href="~/admin/categories/add">Add to an Exist Category</a></small>
            <small><a href="~/admin/categories/create">Create New Category</a></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Admin Panel</a></li>
            <li class="active">Categories</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Category Id</th>
                                    <th>Language</th>
                                    <th>Description</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cat_lang in ViewBag.cats_langs)
                                {
                                    <tr>
                                        <td>@cat_lang.CategoryId</td>
                                        <td>@cat_lang.Language.Name</td>
                                        <td>@cat_lang.Description</td>  
                                        <td><small><a href="~/admin/categories/delete/@cat_lang.Id">Delete</a></small></td>
                                        <td><small><a href="~/admin/categories/edit/@cat_lang.Id">Edit</a></small></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<!-- TODO render at the end of body -->
<script src="~/admin-theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/admin-theme/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable();
    });
</script>