@{
    Layout = "~/Themes/AdminTheme/Layouts/layout_main.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Items
            <small>Create</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/backend">Admin Panel</a></li>
            <li class="active">Items</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-9">
                <!-- general form elements -->
                <div class="box box-primary">                   
                    <!-- form start -->
                    <form role="form" action="~/backend/items/create" method="post">
                        <div class="box-body">
                            <h5>Please add the item in the default language (English)</h5>
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" name="CategoryId" onchange="CategoryChanged(this)">
                                    @foreach (var cat in ViewBag.cats)
                                    {
                                    <option id="CategoryId" value="@cat.CategoryId">@cat.Description</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input type="text" class="form-control" name="Title" id="Title" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                <label for="ShortContent">Short Content</label>
                                <textarea rows="4" class="form-control" name="ShortContent" id="ShortContent" placeholder="Enter short content" ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="FullContent">Full Content</label>
                                <textarea rows="4" class="form-control" name="FullContent" placeholder="Enter full content" ></textarea>
                            </div>

                            <div id="custom_fields">
                                <!--Custom Fields go here -->
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                
            </div>
            <!--/.col (left) -->
           
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<script>
    function CategoryChanged(select) {
        var $select = $(select);
        $.ajax({
            method: "GET",
            url: '/backend/categories/getCustomFields',
            data: {
                catId: $select.val()
            },
            success: function (response) {
                $('#custom_fields').html(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }
</script>

