@{
    Layout = "~/Themes/AdminTheme/Layouts/layout_main.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Menus
            <small>Add to an exist menu</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/backend">Admin Panel</a></li>
            <li class="active">Menus</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-9">
                <!-- general form elements -->
                <div class="box box-primary">

                    <!-- form start -->
                    <form role="form" action="~/backend/menus/add" method="post">
                        <div class="box-body">
  
                            <div class="form-group">
                                <label>Language</label>
                                <select class="form-control" name="LanguageId">
                                    @foreach (var lang in ViewBag.languages)
                                    {
                                    <option id="LanguageId" value="@lang.Id">@lang.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Menu</label>
                                <select class="form-control" name="MenuId">
                                    @foreach (var menu in ViewBag.menus)
                                    {
                                    <option id="MenuId" value="@menu.MenuId">@menu.Description</option>
                                    }
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="Title">Description</label>
                                <input type="text" class="form-control" name="Description" placeholder="Enter description">
                            </div>


                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->

            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>