@{
    Layout = "~/Themes/AdminTheme/Layouts/layout_main.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Menus
            <small>Create</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/backend">Admin Panel</a></li>
            <li class="active">Menus</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-9">
                <!-- general form elements -->
                <div class="box box-primary">

                    <!-- form start -->
                    <form role="form" action="~/backend/menus/create" method="post">

                        <div class="box-body">
                            <h5>Please add the Menu in the default language, the English on</h5>

                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" name="CategoryId">
                                    @foreach (var cat in ViewBag.cats)
                                    {
                                    <option id="CategoryId" value="@cat.CategoryId">@cat.Description</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Description">Description</label>
                                <input type="text" class="form-control" name="Description" id="Description" placeholder="Enter Description">
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->

            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>