@{ 
    Layout = "~/Themes/MainTheme/Layouts/_Layout_skeleton.cshtml";
}

<center>
    <h3>
        Sorry, But you don't have access to this content.
    </h3>
    <small>
        That's all we know
    </small>
</center>